* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  p{
    text-align: center;
  }

header{
  text-align: center;
}
 
  body {
    font-family: "Century Gothic", 'Lato', sans-serif;
    background: #f5f5f5;
    min-height: 300vh;
    color: lightpink;
  }
 
  a {
    text-decoration: none;
  }

  .textruta{
    position: absolute;
    left: 35px;
    top: 100px;
    height: 250px;
    width: 250px;
    background: linear-gradient(-45deg, #d36ae1, #a078ef, #7d75ee, #b4d0fd, #daf4ff, #ededed);
    border-radius: 50px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    transition: transform 0.4s ease;
    
}
 
  .et-hero-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #000;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 0.8rem;
    cursor: pointer;
  }
 
  .et-hero-tab:hover {
    color: white;
    background: rgba(102, 177, 241, 0.8);
    transition: all 0.5s ease;
  }
 
  .et-hero-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background: #66B1F1;
    transition: left 0.3s ease, width 0.3s ease;
  }
 
  @media (min-width: 800px) {
    .et-hero-tab {
      font-size: 1rem;
    }
  }
