body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #202020;
    color: white;
    min-height: 300vh;
  }
 
 
  h1 {
    margin: 20px 0;
    font-size: 32px;
    color: white;
  }
 
  table {
    width: 90%;
    margin: auto;
    border-collapse: separate;
    border-spacing: 20px;
  }
 
  td {
    background: #ff8dcc;
    border-radius: 16px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.35);
  }
 
  td img {
    border-radius: 12px;
    height: 200px;      
    object-fit: cover;  
  }
 


  h3 {
    margin-top: 15px;
    font-size: 20px;
  }
 
 
  td p {
    color: #dddddd;
    font-size: 14px;
  }
 
  small {
    color: #ccc;
    margin-top: 10px;
    display: inline-block;
  }
 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  p{
    text-align: center;
  }

header{
  text-align: center;
}
 

  body {
    font-family: "Century Gothic", 'Lato', sans-serif;
    background: #f5f5f5;
    min-height: 300vh;
    color: lightpink;
  }

 
  a {
    text-decoration: none;
  }
    
}
 
  .et-hero-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #000;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 0.8rem;
    cursor: pointer;
  }
 
  .et-hero-tab:hover {
    color: white;
    background: rgba(102, 177, 241, 0.8);
    transition: all 0.5s ease;
  }
 
  .et-hero-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background: #66B1F1;
    transition: left 0.3s ease, width 0.3s ease;
  }
 
  @media (min-width: 800px) {
    .et-hero-tab {
      font-size: 1rem;
    }
  }
