body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: black !important;
    color: lightpink;
    min-height: 300vh;
  }

  .chip{padding:8px 12px; border-radius:999px; background:var(--glass); border:1px solid #ffffff22; box-shadow:0 6px 20px #ffffff3a inset, 0 2px 0 #ffffff1a inset; transition:.2s transform,.2s background
}
.chip:hover{background:var(--glass-2); transform:translateY(-1px)}
:root{
--bg1:#f8ffd3; --bg2:#ffe7cc; --ink:#0f172a; --muted:#475569; --card:#ffffffcc; --ring:#00000010;
--maxw:1100px; --radius:16px;
}
*{box-sizing:border-box}
html,body{height:100%}
body{
margin:0; font-family:system-ui,-apple-system,Segoe UI,Roboto,Inter,Helvetica,Arial,sans-serif;
color:var(--ink); background:radial-gradient(1200px 600px at 15% 10%, var(--bg1), transparent 60%),
radial-gradient(1200px 600px at 85% 90%, var(--bg2), #fff6eb);
}

button{
  color: white;
}
 
 
  h1 {
    margin: 20px 0;
    font-size: 32px;
    color: lightpink;
  }
 
  table {
    width: 90%;
    margin: auto;
    border-collapse: separate;
    border-spacing: 20px;
  }
 
  td {
    background: #2b2a2a;
    border-radius: 16px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.35);
  }

  td:hover{
    scale: 1.05;
  }
 
  td img {
    border-radius: 12px;
    width: 100%;
    height: auto;      
    object-fit: cover; 
    max-height: 500px; 
  }

.page-title{
  display:inline-block;      /* so the box hugs the text */
  padding: .6rem 1.2rem;
  border: 4px solid #ff7eb3; /* your pink */
  border-radius: 14px;       /* softer corners */
  background: #fff;          /* optional, remove if you only want a border */
  color:#ff7eb3;
  box-shadow: 0 8px 24px rgba(0,0,0,.08);
  letter-spacing:.06em;
}
header, .title-wrap{
  text-align:center;         /* center the box on the page */
  margin: 24px 0;
}
 


  h3 {
    margin-top: 15px;
    font-size: 20px;
  }
 
 
  td p {
    color: #dddddd;
    font-size: 14px;
  }
 
  small {
    color: #ccc;
    margin-top: 10px;
    display: inline-block;
  }
 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  p{
    text-align: center;
  }

header{
  text-align: center;
}
 

  body {
    font-family: "Century Gothic", 'Lato', sans-serif;
    background: hsla(207, 42%, 45%, 0.523);
    min-height: 300vh;
    color: rgb(5, 3, 3);
  }

 
  a {
    text-decoration: none;
  }

    


 
  .et-hero-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #000;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 0.8rem;
    cursor: pointer;
  }
 
  .et-hero-tab:hover {
    color: white;
    background: rgba(102, 177, 241, 0.8);
    transition: all 0.5s ease;
  }
 
  .et-hero-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background: #66B1F1;
    transition: left 0.3s ease, width 0.3s ease;
  }
 
  @media (min-width: 800px) {
    .et-hero-tab {
      font-size: 1rem;
    }
  }
